{% if include.id %}
  {% assign features = page[include.id] %}
{% else %}
  {% assign features = page.features %}
{% endif %}

<div class="feature__wrapper">
  {% for feature in features %}
    <div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
      <div class="archive__item">
        {% if feature.image_path %}
          <div class="archive__item-teaser">
            <img src="{{ feature.image_path | relative_url }}" alt="{% if feature.alt %}{{ feature.alt }}{% endif %}">
            {% if feature.image_caption %}
              <span class="archive__item-caption">{{ feature.image_caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
            {% endif %}
          </div>
        {% endif %}

        <div class="archive__item-body">
          {% if feature.title %}
            <h2 class="archive__item-title">
              {% if feature.url %}
                <a href="{{ feature.url | relative_url }}">{{ feature.title }}</a>
              {% else %}
                {{ feature.title }}
              {% endif %}
            </h2>
          {% endif %}

          {% if feature.excerpt %}
            <div class="archive__item-excerpt">
              {{ feature.excerpt | markdownify }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
