{% if include.id %}
  {% assign features = page[include.id] %}
{% else %}
  {% assign features = page.features %}
{% endif %}

<div class="feature__wrapper">
  {% for feature in features %}
    {% if feature.reference %}
      {% assign reference = feature.reference | relative_url %}
    {% endif %}
    <div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
      <div class="archive__item">
        {% if feature.title %}
          <h2 class="archive__item-title">
            {% if reference %}<a href="{{ reference }}">{% endif %}{{ feature.title }}{% if reference %}</a>{% endif %}
          </h2>
        {% endif %}

        {% if feature.image.path %}
          <div class="archive__item-teaser">
            {% if reference %}<a href="{{ reference }}">{% endif %}
              <img src="{{ feature.image.path | relative_url }}" {% if feature.alt %}alt="{{ feature.image.alt }}"{% endif %}>
            {% if reference %}</a>{% endif %}
            {% if feature.image.caption %}
              <span class="archive__item-caption">{{ feature.image.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
            {% endif %}
          </div>
        {% endif %}

        <div class="archive__item-body">
          {% if feature.excerpt %}
            <div class="archive__item-excerpt">
              {{ feature.excerpt | markdownify }}
            </div>
          {% endif %}
        </div>

        {% if feature.button %}
          {% if feature.button.reference %}
            <!-- rebind -->
            {% assign reference = feature.button.reference | relative_url %}
          {% endif %}
          <p><a href="{{ reference }}" class="btn {{ feature.button.class | default: 'btn--light-outline' }}">{{ feature.button.text | default: site.data.ui-text[site.locale].more | default: "More" }}</a></p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
